body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #35424a;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

header h1 {
  text-transform: uppercase;
  margin: 0;
}

nav {
  background-color: #e8491d; /* Cambiado a un color más llamativo */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #35424a;
}

footer {
  background-color: #35424a;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #e8491d;
}

footer a {
  color: #e8491d;
  text-decoration: none;
}

#galeria {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  font-family: 'Open Sans', sans-serif;
}
